@page
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["title"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["description"]</p>
</header>
