@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Localizer["title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["message"] <a asp-page="./Login">@Localizer["clickHere"]</a>.
</p>
