
@using DiplomaSite3.Enums
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model AdminVM

@{
    ViewData["Title"] = Localizer["title"];
}

<h1>@Localizer["title"]</h1>

@if (User.IsInRole("Admin"))
{
    <form asp-controller="AdminPanel" asp-action="Index" method="get">
        <p>
            @Localizer["usernameTxt"]: <input type="text" asp-for="SearchString" />
            <input type="submit" value="@Localizer["filterBtn"]" />
        </p>
    </form>
}

<partial name="_AdminTablePartial" />

<partial name="_TeacherTablePartial" />

<partial name="_StudentTablePartial" />
