
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager

<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link text-dark btn btn-light border-3 m-1" asp-controller="Home" asp-action="Index">Home</a>
    </li>
   
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item">

        
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-dark btn btn-light border-3 m-1" asp-controller="Diplomas" asp-action="Index">Diploma</a>
        </li>
    }
</ul>
