@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["title"];
}

<div class="text-center">
    <h1 class="display-4"> @Localizer["greetingTxt"]</h1>
    <p> @Localizer["descriptionTxt"] </p>
</div>
