:root {
    --dark: #000000;
    --light: #ffffff;
    --navblue: #003eaa;
    --bcgcol: #e0e0e0;
    --lightblue: #aaccff;
    --darkblue: #006bde;
    --red: #ff0000;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: black;
    background: var(--bcgcol);
}

nav {
    background: var(--navblue);
    border-color: black;
}
.navbar-brand{
    font-size: x-large;
    font-weight : bold;
    color: white;
}
.navbar-brand:hover{
    color: white;
}

.navbtn {
    color: black;
    background: white;
}
    .navbtn:hover {
        color: var(--dark);
        background: var(--lightblue);
    }

.langbtn {
    font-size: 1.6rem;
    padding: 1px;
    margin: 1px;
    line-height: 1.3rem;
}
    .langbtn:hover {
        background: var(--lightblue);
    }

footer {
    font-size: 0.80rem;
}

.btnreq {
    color: var(--light);
    background: var(--navblue);
}
    .btnreq:hover {
        color: var(--lightblue);
        background: var(--darkblue);
    }

.thesisbtn {
    color: black;
    background: white;
    border: 1px solid gray;
}
    .thesisbtn:hover {
        color: var(--dark);
        background: var(--lightblue);
    }

.delbtn {
    color: black;
    background: white;
    border: 1px solid gray;
}
    .delbtn:hover {
        color: var(--light);
        background: var(--red);
    }